WobblinGame/Binaries
WobblinGame/Build
WobblinGame/Config
WobblinGame/DerivedDataCache
WobblinGame/Intermediate
WobblinGame/Plugins
WobblinGame/Saved
WobblinGame/Content/__ExternalActors__
WobblinGame/Content/__ExternalObjects__
WobblinGame/Content/Characters
WobblinGame/Content/Collections
WobblinGame/Content/Developers
WobblinGame/Content/LevelPrototyping
WobblinGame/Content/Models
WobblinGame/Content/ThirdPerson
WobblinGame/Content/*.umap
WobblinGame/Content/*.uasset
WobblinGame/.vscode
WobblinGame/.vs
WobblinGame/.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace